.droppable-area-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  max-width: 100%;
  margin: 0 auto;
  min-height: 70vh;
  background-color: #EAFFD0;
}

.title {
  font-size: 2rem;
  color: #ff7b7b;
  text-align: center;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.5rem;
  color: #4d7eff;
  text-align: center;
  margin-bottom: 1.5rem;
}

.shapes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1.5rem;
  width: 100%;
  max-width: 43.75rem;
  margin: 0 auto;
}

.shapes-container h3 {
  width: 100%;
  text-align: center;
  margin: 0 0 1rem 0;
  color: #4d7eff;
  font-size: 1.3rem;
}

.droppable-area {
  position: relative;
  width: 90%;
  max-width: 25rem;
  height: 25rem;
  background: #ffffff;
  border: 0.125rem solid #4d7eff;
  border-radius: 0.75rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.05);
}

.droppable-area.over {
  border-color: #4d7eff;
  background: #f8fbff;
}

.dropped-shape {
  transition: transform 0.2s ease;
  cursor: grab;
}

.dropped-shape:hover {
  transform: scale(1.02);
}

.action-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  justify-content: center;
  
}

.evaluate-button,
.reset-button,
.next-button {
  padding: 0.5rem 2rem;
  
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  text-transform: uppercase;
}

.evaluate-button,
.next-button {
  background-image: linear-gradient(to right, #7AC4B0, #61A894);
  color: white;
  border: 2px solid #214f40; 
}

.evaluate-button:hover,
.next-button:hover {
  background-color: #77b5b3;
  transform: translateY(-2px);
}

.reset-button {
  background: #ff7b7b;
  color: white;
  border: 2px solid #7f1416; 
}

.reset-button:hover {
  background: #ff6666;
  transform: translateY(-2px);
}

.feedback {
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 50px;
  font-weight: 600;
  color: #4d7eff;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 48rem) {
  .droppable-area-container {
    padding: 1rem;
    gap: 1rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 1.3rem;
  }

  .shapes-container {
    padding: 1rem;
    gap: 1rem;
  }

  .droppable-area {
    height: 21.875rem;
  }

  .action-buttons {
    flex-direction: column;
    width: 100%;
    max-width: 18.75rem;
    margin: 1rem auto;
  }

  .evaluate-button,
  .reset-button,
  .next-button {
    width: 100%;
    padding: 0.75rem 1rem;
  }
}
