.start-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background-color: #eaffd0;
}

.start-screen-title {
    font-size: 3rem;
    font-weight: bold;
    color: #f38181;
    margin-top: 1rem;
}

.play-button-container {
    padding: 2rem;
}

.play-button {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 50%;
    background: linear-gradient(to right, #7ac4b0, #61a894);
    background-color: #95e1d3;
    color: white;
    border: 0.2rem solid #707070;
    cursor: pointer;
    transition: all 0.2s ease;
}

.play-button:hover {
    background-color: #7ac4b0;
    border-color: #5d5d5d;
}

.info-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    max-width: 25rem;
    text-align: center;
}

.info-box p {
    color: #333;
    margin-bottom: 1.25rem;
}

.speak-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #4c94b8, #357a92);
    color: white;
    padding: 1rem 2rem;
    border-radius: 1.25rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.speak-button:hover {
    background: linear-gradient(to right, #357a92, #4c94b8);
    transform: scale(1.05);
}

.speak-button span {
    margin-left: 1rem;
    font-size: 1.3rem;
}

.speak-button i {
    font-size: 1.8rem;
}

.close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    fill: #666;
    transition: fill 0.3s;
}

.close-button:hover {
    fill: #444;
}
